# About Datasets
1. The dataset contains information about Fortune 500 companies with following features:
company	rank	revenues	revenue_change	profits	assets	profit_change	ceo	industry	sector	previous_rank	country	hq_location	website	years_on_global_500_list	employees	total_stockholder_equity


2. The other dataset contains information about laptops and their specifications. Following features are included in the dataset:
Manufacturer	Model Name	Category	Screen Size	Screen	CPU	RAM	 Storage	GPU	Operating System	Operating System Version	Weight	Price (Euros)


# Problem statement:
The dataset needs to manumilated in order to deduce meaningful intelligence such as:
* Identification of missing values
* Finding of data elements within the dataset
* Filtering values to get the desired information
* Identifying highest number of employees working in a company
* Top employeers in each country

# Import Library

In [1]:
import pandas as pd

# Loading Fortune 500 Dataset

Pandas loads datasets from `csv` files as `DataFrame`. A Pandas `DataFrame` is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

[Click here for more information](https://www.w3schools.com/python/pandas/pandas_dataframes.asp)

In [3]:
f500 = pd.read_csv("f500.csv",)

The head() method returns a specified number of rows, string from the top. The head() method returns the first 5 rows if a number is not specified.

In [4]:
f500.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

Label indexing `.loc[]` `.iloc[] can be used

In [5]:
f500.loc[0]

company                                    Walmart
rank                                             1
revenues                                    485873
revenue_change                                 0.8
profits                                    13643.0
assets                                      198825
profit_change                                 -7.2
ceo                            C. Douglas McMillon
industry                     General Merchandisers
sector                                   Retailing
previous_rank                                    1
country                                        USA
hq_location                        Bentonville, AR
website                     http://www.walmart.com
years_on_global_500_list                        23
employees                                  2300000
total_stockholder_equity                     77798
Name: 0, dtype: object

In [6]:
f500.loc[1,"rank"]

2

The info() method prints information about the DataFrame. The information contains the number of columns, column labels, column data types, memory usage, range index, and the number of cells in each column (non-null values).

In [7]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    int64
 2   revenues                  500 non-null    int64
 3   revenue_change            498 non-null    float64
 4   profits                   499 non-null    float64
 5   assets                    500 non-null    int64
 6   profit_change             436 non-null    float64
 7   ceo                       500 non-null    object
 8   industry                  500 non-null    object
 9   sector                    500 non-null    object
 10  previous_rank             500 non-null    int64
 11  country                   500 non-null    object
 12  hq_location               500 non-null    object
 13  website                   500 non-null    object
 14  years_on_global_500_list  500 non-null    int64
 15  employees                 500 non-null    int64
 16  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(7)
memory usage: 66.5+ KB

The isnull() method returns a DataFrame object where all the values are replaced with a Boolean value True for NULL values, and otherwise False.

In [8]:
f500.isnull()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

Getting number of null values in each column

In [9]:
f500.isnull().sum(axis = 0)

company                      0
rank                         0
revenues                     0
revenue_change               2
profits                      1
assets                       0
profit_change               64
ceo                          0
industry                     0
sector                       0
previous_rank                0
country                      0
hq_location                  0
website                      0
years_on_global_500_list     0
employees                    0
total_stockholder_equity     0
dtype: int64

Boolean Indexing can be used to identify rows with null values. You can use a boolean index, a Series composed of True or False values that correspond to rows in the dataset. The True/False values describe which rows you want to select, namely only the True rows.

In [10]:
bol = f500["revenue_change"].isnull()
f500[bol]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
90,Uniper,91,74407,NaN,-3557.5,51541,NaN,Klaus Schafer,Energy,Energy,0,Germany,"Dusseldorf, Germany",http://www.uniper.energy,1,12890,12889
180,Hewlett Packard Enterprise,181,50123,NaN,3161.0,79679,NaN,Margaret C. Whitman,Information Technology Services,Technology,0,USA,"Palo Alto, CA",http://www.hpe.com,1,195000,31448

In [11]:
f500[f500["profit_change"].isnull()]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
5,Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
7,Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
11,BP,12,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
15,Glencore,16,173883,2.0,1379.0,124600,NaN,Ivan Glasenberg,"Mining, Crude-Oil Production",Energy,14,Switzerland,"Baar, Switzerland",http://www.glencore.com,7,93123,44243
22,AmerisourceBergen,23,146850,8.0,1427.9,33656,NaN,Steven H. Collis,Wholesalers: Health Care,Wholesalers,28,USA,"Chesterbrook, PA",http://www.amerisourcebergen.com,18,18500,2129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,Altice,473,22953,42.2,-1722.5,84805,NaN,Michel Combes,Telecommunications,Telecommunications,0,Netherlands,"Amsterdam, Netherlands",http://www.altice.net,1,49732,-2668
473,Onex,474,22943,3.8,-130.0,42913,NaN,Gerald W. Schwartz,Semiconductors and Other Electronic Components,Technology,483,Canada,"Toronto, Ontario, Canada",http://www.onex.com,18,161000,-490
475,Shanxi Jincheng Anthracite Coal Mining Group,476,22875,-17.0,3.0,32954,NaN,He Tiancai,"Mining, Crude-Oil Production",Energy,384,China,"Jincheng, China",http://www.jamg.cn,5,135691,2988
488,Sears Holdings,489,22138,-12.0,-2221.0,9362,NaN,Edward S. Lampert,General Merchandisers,Retailing,425,USA,"Hoffman Estates, IL",http://www.searsholdings.com,23,140000,-3824
492,Telecom Italia,493,21941,-17.4,1999.4,74295,NaN,Flavio Cattaneo,Telecommunications,Telecommunications,404,Italy,"Milan, Italy",http://www.telecomitalia.com,18,61227,22366

Boolean Indexing can also be used for filtering. Getting Fortune 500 companies who are in energy sector and based in Japan.

In [13]:
bol = (f500["sector"] == "Energy")  & (f500["country"] == "Japan") 
f500[bol]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
126,JXTG Holdings,127,63629,1.8,1477.3,59767,NaN,Yukio Uchida,Petroleum Refining,Energy,131,Japan,"Tokyo, Japan",http://www.hd.jxtg-group.co.jp,23,26247,12829
184,Tokyo Electric Power,185,49446,-2.2,1225.7,110202,4.5,Naomi Hirose,Utilities,Energy,177,Japan,"Tokyo, Japan",http://www.tepco.co.jp,23,42060,20905
388,Kansai Electric Power,389,27792,2.8,1299.3,61513,10.8,Shigeki Iwane,Utilities,Energy,391,Japan,"Osaka, Japan",http://www.kepco.co.jp,23,32666,11205
422,Idemitsu Kosan,423,25888,-1.0,813.7,23711,NaN,Takashi Tsukioka,Petroleum Refining,Energy,412,Japan,"Tokyo, Japan",http://www.idemitsu.com,23,9139,3852
450,Chubu Electric Power,451,24028,1.1,1058.2,48580,-25.2,Satoru Katsuno,Utilities,Energy,448,Japan,"Nagoya, Japan",http://www.chuden.co.jp,23,30635,14695

Lets try to find out which companies have the most number of employees in Japan

In [14]:
japan = f500[f500["country"] == "Japan"]
j_empl = japan.sort_values("employees", ascending = False).iloc[0][0]
print('The company with most number of employees in Japan is', j_empl)

The company with most number of employees in Japan is Toyota Motor

Getting list of countries of Fortune 500 companies

In [16]:
countries = f500["country"].unique()
for country in countries:
    print(country)

print('Total Countries are', len(countries))

USA
China
Japan
Germany
Netherlands
Britain
South Korea
Switzerland
France
Taiwan
Singapore
Italy
Russia
Spain
Brazil
Mexico
Luxembourg
India
Malaysia
Thailand
Australia
Belgium
Norway
Canada
Ireland
Indonesia
Denmark
Saudi Arabia
Sweden
Finland
Venezuela
Turkey
U.A.E
Israel
Total Countries are 34

Lets create a dictionary `{}` to find out the companies who have most number of employees in each country

In [17]:
top_employer = {}

for country in countries:
    df = f500[f500["country"] == country]
    com = df.sort_values("employees", ascending = False).iloc[0]["company"]
    top_employer[country] = com
    
print(top_employer)

{'USA': 'Walmart', 'China': 'China National Petroleum', 'Japan': 'Toyota Motor', 'Germany': 'Volkswagen', 'Netherlands': 'EXOR Group', 'Britain': 'Compass Group', 'South Korea': 'Samsung Electronics', 'Switzerland': 'Nestle', 'France': 'Sodexo', 'Taiwan': 'Hon Hai Precision Industry', 'Singapore': 'Flex', 'Italy': 'Poste Italiane', 'Russia': 'Gazprom', 'Spain': 'Banco Santander', 'Brazil': 'JBS', 'Mexico': 'America Movil', 'Luxembourg': 'ArcelorMittal', 'India': 'State Bank of India', 'Malaysia': 'Petronas', 'Thailand': 'PTT', 'Australia': 'Wesfarmers', 'Belgium': 'Anheuser-Busch InBev', 'Norway': 'Statoil', 'Canada': 'George Weston', 'Ireland': 'Accenture', 'Indonesia': 'Pertamina', 'Denmark': 'Maersk Group', 'Saudi Arabia': 'SABIC', 'Sweden': 'H & M Hennes & Mauritz', 'Finland': 'Nokia', 'Venezuela': 'Mercantil Servicios Financieros', 'Turkey': 'Koc Holding', 'U.A.E': 'Emirates Group', 'Israel': 'Teva Pharmaceutical Industries'}

Lets convert the dictionary into pandas series

In [18]:
top_empl = pd.Series(top_employer)

In [20]:
top_empl.sort_index()

Australia                            Wesfarmers
Belgium                    Anheuser-Busch InBev
Brazil                                      JBS
Britain                           Compass Group
Canada                            George Weston
China                  China National Petroleum
Denmark                            Maersk Group
Finland                                   Nokia
France                                   Sodexo
Germany                              Volkswagen
India                       State Bank of India
Indonesia                             Pertamina
Ireland                               Accenture
Israel           Teva Pharmaceutical Industries
Italy                            Poste Italiane
Japan                              Toyota Motor
Luxembourg                        ArcelorMittal
Malaysia                               Petronas
Mexico                            America Movil
Netherlands                          EXOR Group
Norway                                  Statoil
Russia                                  Gazprom
Saudi Arabia                              SABIC
Singapore                                  Flex
South Korea                 Samsung Electronics
Spain                           Banco Santander
Sweden                   H & M Hennes & Mauritz
Switzerland                              Nestle
Taiwan               Hon Hai Precision Industry
Thailand                                    PTT
Turkey                              Koc Holding
U.A.E                            Emirates Group
USA                                     Walmart
Venezuela       Mercantil Servicios Financieros
dtype: object

# Loading Laptops Dataset

In [8]:
laptops = pd.read_csv("laptops.csv", encoding = "unicode_escape")

In [9]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Manufacturer              1303 non-null   object
 1   Model Name                1303 non-null   object
 2   Category                  1303 non-null   object
 3   Screen Size               1303 non-null   object
 4   Screen                    1303 non-null   object
 5   CPU                       1303 non-null   object
 6   RAM                       1303 non-null   object
 7    Storage                  1303 non-null   object
 8   GPU                       1303 non-null   object
 9   Operating System          1303 non-null   object
 10  Operating System Version  1133 non-null   object
 11  Weight                    1303 non-null   object
 12  Price (Euros)             1303 non-null   object
dtypes: object(13)
memory usage: 132.5+ KB

Lets edit column names which will make life easy for analytics

In [10]:
laptops.columns = laptops.columns.str.strip().str.lower()\
.str.replace("operating system", "os")\
.str.replace("(","").str.replace(")", "").str.replace(" ","_")

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8436\646942057.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  laptops.columns = laptops.columns.str.strip().str.lower()\
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8436\646942057.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  laptops.columns = laptops.columns.str.strip().str.lower()\

In [11]:
laptops["ram"] = laptops.ram.str.strip("GB").astype(int)

In [12]:
laptops.rename({"ram": "ram_gb"}, 
               axis = 1,
               inplace = True)

In [13]:
laptops.head()

,manufacturer,model_name,category,screen_size,screen,cpu,ram_gb,storage,gpu,os,os_version,weight,price_euros
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45"
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60"

Converting object types to intiger format

In [14]:
laptops.screen_size.str.strip('"').astype(float)

0       13.3
1       13.3
2       15.6
3       15.4
4       13.3
        ...
1298    14.0
1299    13.3
1300    14.0
1301    15.6
1302    15.6
Name: screen_size, Length: 1303, dtype: float64

In [15]:
laptops.screen_size = laptops.screen_size.str.strip('"').astype(float)

In [16]:
laptops["weight"].str.strip("s").str.strip("kg").astype(float)

0       1.37
1       1.34
2       1.86
3       1.83
4       1.37
        ...
1298    1.80
1299    1.30
1300    1.50
1301    2.19
1302    2.20
Name: weight, Length: 1303, dtype: float64

In [17]:
laptops.weight = laptops["weight"].str.strip("s").str.strip("kg").astype(float)

In [18]:
laptops.head()

,manufacturer,model_name,category,screen_size,screen,cpu,ram_gb,storage,gpu,os,os_version,weight,price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,"1339,69"
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,"898,94"
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86,"575,00"
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83,"2537,45"
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37,"1803,60"

Renaming columns in accordance with the underlying data

In [20]:
laptops.rename(columns = {'screen_size':'screen_size_inches',
                'weight':'weight_kg'} ,inplace = True)

In [21]:
laptops.columns

Index(['manufacturer', 'model_name', 'category', 'screen_size_inches',
       'screen', 'cpu', 'ram_gb', 'storage', 'gpu', 'os', 'os_version',
       'weight_kg', 'price_euros'],
      dtype='object')

Getting GPU and CPU manufacturers from `gpu` and`cpu` columns

In [22]:
laptops["gpu_manufacturer"] = laptops.gpu.str.split(n= 1, expand = True)[0]
laptops["cpu_manufacturer"] = laptops.cpu.str.split(n= 1, expand = True)[0]

In [23]:
laptops.head()

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_gb,storage,gpu,os,os_version,weight_kg,price_euros,gpu_manufacturer,cpu_manufacturer
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,"1339,69",Intel,Intel
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,"898,94",Intel,Intel
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86,"575,00",Intel,Intel
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83,"2537,45",AMD,Intel
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37,"1803,60",Intel,Intel

Intel is the largest manufacturer in both GPU and CPU

In [24]:
laptops["gpu_manufacturer"].value_counts()

Intel     722
Nvidia    400
AMD       180
ARM         1
Name: gpu_manufacturer, dtype: int64

In [25]:
laptops["cpu_manufacturer"].value_counts()

Intel      1240
AMD          62
Samsung       1
Name: cpu_manufacturer, dtype: int64

It looks like in 'os' column, MacOs is written in two different forms. Lets resolve this issue

In [27]:
laptops.os.unique()

array(['macOS', 'No OS', 'Windows', 'Mac OS', 'Linux', 'Android',
       'Chrome OS'], dtype=object)

In [28]:
k = laptops.os.unique().tolist()
v = ['macOS', 'No OS', 'Windows', 'macOS', 'Linux', 'Android', 'Chrome OS']
mp = dict(zip(k,v))
mp

{'macOS': 'macOS',
 'No OS': 'No OS',
 'Windows': 'Windows',
 'Mac OS': 'macOS',
 'Linux': 'Linux',
 'Android': 'Android',
 'Chrome OS': 'Chrome OS'}

Using `.map()` function to rename values. `.map()` is used to map values from two series having one column same.

In [29]:
laptops["os"] = laptops["os"].map(mp)
laptops["os"].unique()

array(['macOS', 'No OS', 'Windows', 'Linux', 'Android', 'Chrome OS'],
      dtype=object)

Finding missing values in the DataFrame

In [30]:
laptops.isnull().sum()

manufacturer            0
model_name              0
category                0
screen_size_inches      0
screen                  0
cpu                     0
ram_gb                  0
storage                 0
gpu                     0
os                      0
os_version            170
weight_kg               0
price_euros             0
gpu_manufacturer        0
cpu_manufacturer        0
dtype: int64

In [31]:
missing = laptops[laptops["os_version"].isnull()]
missing

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_gb,storage,gpu,os,os_version,weight_kg,price_euros,gpu_manufacturer,cpu_manufacturer
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,"1339,69",Intel,Intel
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,"898,94",Intel,Intel
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86,"575,00",Intel,Intel
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83,"2537,45",AMD,Intel
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37,"1803,60",Intel,Intel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1267,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8,1TB HDD,AMD Radeon R5 M430,Linux,NaN,2.30,"805,99",AMD,Intel
1277,Acer,Aspire ES1-531,Notebook,15.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4,500GB HDD,Intel HD Graphics 400,Linux,NaN,2.40,"289,00",Intel,Intel
1281,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8,1TB HDD,AMD Radeon R5 M430,Linux,NaN,2.30,"805,99",AMD,Intel
1291,Acer,Aspire ES1-531,Notebook,15.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4,500GB HDD,Intel HD Graphics 400,Linux,NaN,2.40,"289,00",Intel,Intel
1295,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8,1TB HDD,AMD Radeon R5 M430,Linux,NaN,2.30,"805,99",AMD,Intel

In [33]:
unq_os = missing["os"].unique()
unq_os

array(['macOS', 'No OS', 'Linux', 'Android', 'Chrome OS'], dtype=object)

In [34]:
bol = laptops["os"] == 'macOS'
os_v = laptops.loc[bol, "os_version"]
bol1 = laptops.loc[bol, "os_version"].notnull()

In [35]:
os_v[bol1]

6       X
26      X
34      X
794     X
1069    X
1193    X
1210    X
1234    X
Name: os_version, dtype: object

We've found that macOS version is 'X'

In [36]:
d = {}

for i in unq_os:
    # print(i)
    v= ""
    bol = laptops["os"] == i
    os_v = laptops.loc[bol, "os_version"]
    bol1 = laptops.loc[bol, "os_version"].notnull()
    if os_v[bol1].shape[0]:
        v = os_v[bol1].iloc[0]
    else:
        v = None
    d[i] = v

In [37]:
d

{'macOS': 'X',
 'No OS': None,
 'Linux': None,
 'Android': None,
 'Chrome OS': None}

In [38]:
bol2 = laptops["os"] == "macOS"

Replacing null values for macOS in os_version with 'x'

In [40]:
laptops.loc[bol2, "os_version"] = "X"

In [41]:
laptops[bol2]

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_gb,storage,gpu,os,os_version,weight_kg,price_euros,gpu_manufacturer,cpu_manufacturer
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,X,1.37,"1339,69",Intel,Intel
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,X,1.34,"898,94",Intel,Intel
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,X,1.83,"2537,45",AMD,Intel
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,X,1.37,"1803,60",Intel,Intel
6,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16,256GB Flash Storage,Intel Iris Pro Graphics,macOS,X,2.04,"2139,97",Intel,Intel
7,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,256GB Flash Storage,Intel HD Graphics 6000,macOS,X,1.34,"1158,70",Intel,Intel
12,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.8GHz,16,256GB SSD,AMD Radeon Pro 555,macOS,X,1.83,"2439,97",AMD,Intel
14,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M m3 1.2GHz,8,256GB SSD,Intel HD Graphics 615,macOS,X,0.92,"1262,40",Intel,Intel
15,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,256GB SSD,Intel Iris Plus Graphics 640,macOS,X,1.37,"1518,55",Intel,Intel
17,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16,512GB SSD,AMD Radeon Pro 560,macOS,X,1.83,"2858,00",AMD,Intel
26,Apple,MacBook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.6GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,X,1.35,"1099,00",Intel,Intel
34,Apple,MacBook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.6GHz,8,256GB Flash Storage,Intel HD Graphics 6000,macOS,X,1.35,"998,00",Intel,Intel
45,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.0GHz,8,256GB SSD,Intel Iris Graphics 540,macOS,X,1.37,"1419,00",Intel,Intel
81,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core i5 1.3GHz,8,512GB SSD,Intel HD Graphics 615,macOS,X,0.92,"1510,00",Intel,Intel
249,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,512GB SSD,Intel Iris Plus Graphics 650,macOS,X,1.37,"2040,00",Intel,Intel
270,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.9GHz,8,512GB SSD,Intel Iris Graphics 550,macOS,X,1.37,"1958,90",Intel,Intel
794,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.2GHz,8,512GB Flash Storage,Intel HD Graphics 5300,macOS,X,0.92,"1165,00",Intel,Intel
1069,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.1GHz,8,256GB Flash Storage,Intel HD Graphics 515,macOS,X,0.92,"1300,00",Intel,Intel
1193,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.1GHz,8,256GB Flash Storage,Intel HD Graphics 5300,macOS,X,0.92,"1163,00",Intel,Intel
1210,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.2GHz,8,512GB Flash Storage,Intel HD Graphics 515,macOS,X,0.92,"1279,00",Intel,Intel
1234,Apple,MacBook Air,Ultrabook,11.6,1366x768,Intel Core i5 1.6GHz,4,256GB Flash Storage,Intel HD Graphics 6000,macOS,X,1.08,"959,00",Intel,Intel

Replacing null values in os_version with "Unknown"

In [43]:
work = unq_os[1:]

In [44]:
for i in work:
    bol2 = laptops["os"] ==i
    laptops.loc[bol2, "os_version"] = "Unknown"

In [45]:
laptops.isnull().sum()

manufacturer          0
model_name            0
category              0
screen_size_inches    0
screen                0
cpu                   0
ram_gb                0
storage               0
gpu                   0
os                    0
os_version            0
weight_kg             0
price_euros           0
gpu_manufacturer      0
cpu_manufacturer      0
dtype: int64

Notice that price_euros is not in neumeric format and contains a `,` therefore, making it impossible for the machine to identify it as a numeric variable. Lets fix this issue

In [46]:
laptops['price_euros'][0]

'1339,69'

In [47]:
laptops["price_euros"].dtype

dtype('O')

In [48]:
laptops["price_euros"].str.replace(",",".").astype(float)

0       1339.69
1        898.94
2        575.00
3       2537.45
4       1803.60
         ...
1298     638.00
1299    1499.00
1300     229.00
1301     764.00
1302     369.00
Name: price_euros, Length: 1303, dtype: float64

In [49]:
laptops["price_euros"] = laptops["price_euros"].str.replace(",",".").astype(float)

In [50]:
laptops.head()

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_gb,storage,gpu,os,os_version,weight_kg,price_euros,gpu_manufacturer,cpu_manufacturer
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,X,1.37,1339.69,Intel,Intel
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,X,1.34,898.94,Intel,Intel
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,Unknown,1.86,575.00,Intel,Intel
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,X,1.83,2537.45,AMD,Intel
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,X,1.37,1803.60,Intel,Intel

# Saving Cleaned data as csv

In [51]:
laptops.to_csv("cleaned_laptops.csv",index = False)