# About Dataset
The sample 2013 dataset consists of 481 records of NBA players and contains the following details:

'player', 'pos', 'age', 'team', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'season', 'season_end'

# Problem Statement
* To define different classes for this particular dataset which will be used for various analytics and data manipulation

# Import Library

In [1]:
import csv

# Loading Dataset

In [2]:
nba = list(csv.reader(open("nba.csv")))

In [3]:
headers = nba[0]
nba = nba[1:]

In [4]:
print(headers)
print()
print(nba[:3])

['player', 'pos', 'age', 'team', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'season', 'season_end']

[['Quincy Acy', 'SF', '23', 'TOT', '63', '0', '847', '66', '141', '0.468', '4', '15', '0.266666666666667', '62', '126', '0.492063492063492', '0.482', '35', '53', '0.66', '72', '144', '216', '28', '23', '26', '30', '122', '171', '2013-2014', '2013'], ['Steven Adams', 'C', '20', 'Oklahoma City Thunder', '81', '20', '1197', '93', '185', '0.503', '0', '0', 'NA', '93', '185', '0.502702702702703', '0.503', '79', '136', '0.581', '142', '190', '332', '43', '40', '57', '71', '203', '265', '2013-2014', '2013'], ['Jeff Adrien', 'PF', '27', 'TOT', '53', '12', '961', '143', '275', '0.52', '0', '0', 'NA', '143', '275', '0.52', '0.52', '76', '119', '0.639', '102', '204', '306', '38', '24', '36', '39', '108', '362', '2013-2014', '2013']]

# Defining Class for Player

In [5]:
class Player():
    def __init__(self, row): # construtor, dunder method
        self.player_name =row[0]
        self.position =row[1]
        self.age =int(row[2])
        self.team =row[3]

## To get full name of player use `.player_name`

In [6]:
ff_info = Player(nba[55])

In [7]:
ff_info.player_name

'Andrew Bogut'

## To get playing position of player use `.position`

In [8]:
ff_info.position

'C'

## To get name of player's team use `.team`

In [9]:
ff_info.team

'Golden State Warriors'

## To get age of player use `.age`

In [10]:
ff_info.age

29

# Defining Class for Team

In [11]:
class Team():
    def __init__(self, team_name):
        self.name =team_name

In [12]:
gsw = Team('Golden State Warriors')

In [13]:
gsw.name

'Golden State Warriors'

In [14]:
class Team():
    def __init__(self, team_name):
        self.name =team_name
        self.info = []
        for row in nba:
            if row[3] == self.name:
                self.info.append(Player(row))

In [15]:
lal = Team('Los Angeles Lakers')

In [16]:
lal.name

'Los Angeles Lakers'

In [17]:
len(lal.info)

16

In [18]:
len(Team('Golden State Warriors').info)

12

In [19]:
lal_data = lal.info

In [20]:
for ins in lal_data:
    print(ins.player_name)

Kobe Bryant
Jordan Farmar
Pau Gasol
Elias Harris
Manny Harris
Xavier Henry
Jordan Hill
Wesley Johnson
Chris Kaman
Ryan Kelly
Kendall Marshall
Jodie Meeks
Steve Nash
Robert Sacre
Shawne Williams
Nick Young

## Get Players information in a Team

In [21]:
for ins in lal_data:
    print(ins.player_name)
    print(ins.position)
    print(ins.age)
    print(ins.team)
    print("-"*30)

Kobe Bryant
SG
35
Los Angeles Lakers
------------------------------
Jordan Farmar
PG
27
Los Angeles Lakers
------------------------------
Pau Gasol
C
33
Los Angeles Lakers
------------------------------
Elias Harris
SF
24
Los Angeles Lakers
------------------------------
Manny Harris
SG
24
Los Angeles Lakers
------------------------------
Xavier Henry
SF
22
Los Angeles Lakers
------------------------------
Jordan Hill
PF
26
Los Angeles Lakers
------------------------------
Wesley Johnson
SF
26
Los Angeles Lakers
------------------------------
Chris Kaman
C
31
Los Angeles Lakers
------------------------------
Ryan Kelly
PF
22
Los Angeles Lakers
------------------------------
Kendall Marshall
PG
22
Los Angeles Lakers
------------------------------
Jodie Meeks
SG
26
Los Angeles Lakers
------------------------------
Steve Nash
PG
39
Los Angeles Lakers
------------------------------
Robert Sacre
C
24
Los Angeles Lakers
------------------------------
Shawne Williams
PF
27
Los Angeles Lakers
------------------------------
Nick Young
SG
28
Los Angeles Lakers
------------------------------

## Getting Teams

In [22]:
teams = []

for row in nba:
    teams.append(row[3])

In [23]:
team_names = list(set(teams))

In [24]:
print(team_names )

['Boston Celtics', 'Washington Wizards', 'Charlotte Hornets', 'Minnesota Timberwolves', 'Orlando Magic', 'Golden State Warriors', 'New Orleans Pelicans', 'Denver Nuggets', 'Los Angeles Clippers', 'Los Angeles Lakers', 'Miami Heat', 'Cleveland Cavaliers', 'Indiana Pacers', 'Philadelphia 76ers', 'Phoenix Suns', 'Toronto Raptors', 'New York Knicks', 'Atlanta Hawks', 'Sacramento Kings', 'Milwaukee Bucks', 'Memphis Grizzlies', 'Chicago Bulls', 'Utah Jazz', 'Houston Rockets', 'Detroit Pistons', 'Dallas Mavericks', 'TOT', 'Brooklyn Nets', 'Oklahoma City Thunder', 'San Antonio Spurs', 'Portland Trail Blazers']

In [25]:
print('No. of Teams is', len(team_names))

No. of Teams is 31

## Getting no. of players in a team

In [26]:
class Team():
    def __init__(self, team_name): # attribute, constructor,dunder
        self.name =team_name
        self.info = []
        for row in nba:
            if row[3] == self.name:
                self.info.append(Player(row))
                
    def num_player(self): # Method
        count = 0  # count = len(self.info)
        for i in self.info:
            count += 1
        return count

In [27]:
Team('Los Angeles Lakers').num_player()

16

In [28]:
Team('Golden State Warriors').num_player()

12

## Getting Average age of players in a team

In [29]:
class Player():
    def __init__(self, row): # construtor, dunder method
        self.player_name =row[0]
        self.position =row[1]
        self.age =int(row[2])
        self.team =row[3]

class Team():
    def __init__(self, team_name): # attribute, constructor,dunder
        self.name =team_name
        self.info = []
        for row in nba:
            if row[3] == self.name:
                self.info.append(Player(row))
                
    def num_player(self): # Method
        count = 0  # count = len(self.info)
        for i in self.info:
            count += 1
        return count
    
    def average_age(self):
        total_ages = 0
        for ins in self.info:
            age = ins.age
            total_ages += age
            
        avg = total_ages/self.num_player()
        return round(avg)

In [30]:
Team('Los Angeles Lakers').average_age()

27

In [31]:
Team('Golden State Warriors').average_age()

26

### Getting comparison of teams in accordance with average age (Older/ Younger)

In [32]:
class Player():
    def __init__(self, row): # construtor, dunder method
        self.player_name =row[0]
        self.position =row[1]
        self.age =int(row[2])
        self.team =row[3]

class Team():
    def __init__(self, team_name): # attribute, constructor,dunder
        self.name =team_name
        self.info = []
        for row in nba:
            if row[3] == self.name:
                self.info.append(Player(row))
                
    def num_player(self): # Method
        count = 0  # count = len(self.info)
        for i in self.info:
            count += 1
        return count
    
    def average_age(self):
        total_ages = 0
        for ins in self.info:
            age = ins.age
            total_ages += age
            
        avg = total_ages/self.num_player()
        return avg
    
    @classmethod # decorator
    def older_team(self, team1, team2):
        if team1.average_age()> team2.average_age():
            print (team1.name, "has older players")
        else:
            print (team2.name, "has older players")

In [33]:
result = Team.older_team(Team('Dallas Mavericks'), Team('Utah Jazz'))
result

Dallas Mavericks has older players