# About Dataset
The dataset has been scraped from The White House Visitor Logs and has been simplified to contain only name,	appt_made_date,	appt_start_date,	appt_end_date,	visitee_namelast,	visitee_namefirst,	meeting_room and	description
This is done to highlihgt and resolve only the datetime problem, which is one of the most prominent problems in datasets.I have used python's `datatime` module.
The `datetime` module supplies classes for manipulating dates and times. While date and time arithmetic is supported, the focus of the implementation is on efficient attribute extraction for output formatting and manipulation.
[Documentation](https://docs.python.org/3/library/datetime.html)

### Problems to be resolved:
* Extract date from the dataset for date when appointment was made `2014-12-18T00:00:00`
* Extract date as well as time from appointment start `1/6/2015  9:30:00 AM`
* Extract date and time from appointment end `1/6/2015  11:59:00 PM`

The data then can be used to conduct data analytics on appointments with various officials in The White House. 

### Datetime Key
The following datetime key is very helpful:
* %d day in number
* %A day in words
* %a day in words but in aka
* %m month in number
* %B month in words
* %b month in words but in aka
* %Y year in 4 digits
* %y year in 2 digits
* %H  hours in 24 hours format
* %I  hours in 12 hours format
* %p am or pm
* %M minutes 
* %S seconds

## Importing Libraries

In [1]:
import csv
import datetime as dt

## Importing Dataset

In [2]:
potus = list(csv.reader(open("potus.csv")))
headers = potus[0]
data = potus[1:]
headers

['name',
 'appt_made_date',
 'appt_start_date',
 'appt_end_date',
 'visitee_namelast',
 'visitee_namefirst',
 'meeting_room',
 'description']

In [3]:
print(data[0])

['Joshua T. Blanton', '2014-12-18T00:00:00', '1/6/2015 9:30', '1/6/2015 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard']

## Testing datetime module

In [4]:
# The strptime() method creates a datetime object from the given string.
dtime = dt.datetime.strptime('1/6/2015 9:30',"%m/%d/%Y %H:%M")

In [5]:
print(dtime.year)
print(dtime.month)
print(dtime.day)
print(dtime.minute)
print(dtime.hour)

2015
1
6
30
9

### Applying `.strptime()` to the dataset

In [6]:
f = "%m/%d/%Y %H:%M"
for i in data:
    i[2] = dt.datetime.strptime(i[2],f)
    i[3] = dt.datetime.strptime(i[3],f)

In [7]:
print(data[0])

['Joshua T. Blanton', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), datetime.datetime(2015, 1, 6, 23, 59), '', 'potus', 'west wing', 'JointService Military Honor Guard']

In [8]:
start_time = []

for i in data:
    start_time.append(i[2])

In [9]:
min(start_time)

datetime.datetime(2015, 1, 6, 9, 30)

In [10]:
max(start_time)

datetime.datetime(2015, 12, 18, 16, 30)

### Calculating monthly no. of meatings in dictionary

In [11]:
num_meeting = {}

for i in data:
    date = i[2].strftime("%B %Y")  # data[0][2].strftime("%B %Y")
    if date not in num_meeting:
        num_meeting[date] = 1
    else:
        num_meeting[date] += 1

In [12]:
print(num_meeting)

{'January 2015': 1248, 'February 2015': 2165, 'March 2015': 2262, 'April 2015': 4996, 'May 2015': 3013, 'June 2015': 7743, 'July 2015': 2930, 'August 2015': 1350, 'September 2015': 4416, 'October 2015': 3669, 'November 2015': 1133, 'December 2015': 13029}

#### Maxiumum no. of meetings

In [13]:
max(num_meeting, key = num_meeting.get)

'December 2015'

### Calculating appointment time

In [14]:
time = []

for i in data:

    t = i[2].time()
    time.append(t)

In [15]:
# Earliest start time of meeting
print('Earliest meeting start time was', min(time))

Earliest meeting start time was 06:00:00

In [16]:
# Last meeting in a dat start time
print('Last meeting of the day started at', max(time))

Last meeting of the day started at 21:30:00

### Calculating duration of meetings

In [17]:
duration = []

for i in data:
    d= i[3]-i[2]
    duration.append(d)

In [18]:
print('Minimum duration of meeting was', min(duration))

Minimum duration of meeting was 2:29:00

In [19]:
print('Maximum duration of meeting was', max(duration))

Maximum duration of meeting was 16 days, 12:59:00

## Supplementary

#### Using `datetime.timedelta()` function
Python timedelta() function is present under datetime library which is generally used for calculating differences in dates and also can be used for date manipulations in Python. It is one of the easiest ways to perform date manipulations.

In [20]:
dt.datetime.strptime("2/6/2022", "%m/%d/%Y") +dt.timedelta(days = 10)

datetime.datetime(2022, 2, 16, 0, 0)

In [21]:
dt.datetime.strptime("2/6/2022", "%m/%d/%Y") - dt.timedelta(days = 100)

datetime.datetime(2021, 10, 29, 0, 0)